<div class="toast">
  <div class="toast__content">
    <div class="toast__content-status">

    </div>
    <div class="toast__content-body">
      <h3 class="toast__content-body-label">Success!</h3>
      <p class="toast__content-body-description">Great! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolorum itaque minus mollitia sed vitae, voluptatem? Beatae consequatur cumque dolorum fuga impedit iste laboriosam magnam, possimus quod reiciendis reprehenderit, sit.</p>
    </div>
  </div>
</div>
