h3 {
  font-size: 20px;
}

* {
  font-family: 'Roboto Light', sans-serif;
}

.toast {
  min-width: 300px;
  max-width: 400px;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(to right, #29D2AD, #06CE81);
  display: inline-block;
  overflow-wrap: break-word;

  &__content {
    display: flex;
    padding: 10px;

    &-status {
      background-color: black;
      height: 50px;
      width: 20%;
    }

    &-body {
      width: 80%;

      &-label {
        margin-bottom: 5px;
      }
    }

  }
}
